/*
 * Variables.
 */

/* Breakpoints */
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    2xl: 1400px,
);

/* Border Radius */
$border-radius-xs: 2px !default;
$border-radius-sm: 4px !default;
$border-radius-base: 8px !default;
$border-radius-lg: 12px !default;
$border-radius-xl: 16px !default;

/* Content Size */
$global-content-size: min(88vw, 1200px);

/* Colors */
$color-blue: #5266df !default;
$color-blue-100: #97a3eb !default;
$color-blue-700: #242946 !default;
$color-blue-900: #080a16 !default;
$color-red: #fb5859 !default;
$color-white: #ffffff !default;
$color-black: #000000 !default;
$color-gray: #96979b !default;
$color-gray-100: #fafbfb !default;
$color-gray-200: #e6e7e8 !default;
$color-gray-300: #c8c9cb !default;
$color-gray-400: #a9a9a9 !default;
$color-gray-500: #78797e !default;
$color-gray-600: #2c2c2e !default;
$color-gray-700: #0f0f10 !default;

/* Typography */
$font-family-sans-serif: 'Proxima Nova', sans-serif !default;

$font-size-xs: 0.79rem !default;
$font-size-sm: 0.889rem !default;
$font-size-base: 1.125rem !default;
$font-size-lg: 1.266rem !default;
$font-size-xl: 1.424rem !default;
$font-size-2xl: 1.602rem !default;
$font-size-3xl: 2.027rem !default;
$font-size-4xl: 3.247rem !default;
$font-size-5xl: 4.11rem !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;

$line-height-xs: 1 !default;
$line-height-sm: 1.2 !default;
$line-height-base: 1.45 !default;
$line-height-lg: 1.6 !default;

/* Spacing */
$spacing-0: 0 !default;
$spacing-1: 0.25rem !default;
$spacing-2: 0.5rem !default;
$spacing-3: 0.75rem !default;
$spacing-4: 1rem !default;
$spacing-5: 1.25rem !default;
$spacing-6: 1.5rem !default;
$spacing-7: 2rem !default;
$spacing-8: 3rem !default;
$spacing-9: 4rem !default;
$spacing-10: clamp(2rem, 2vw, 5rem) !default;
$spacing-11: clamp(3rem, 4vw, 6rem) !default;
$spacing-12: clamp(3rem, 6vw, 7rem) !default;
$spacing-13: clamp(3rem, 6vw, 8rem) !default;
$spacing-14: clamp(4rem, 6vw, 9rem) !default;
$spacing-15: clamp(4rem, 6vw, 10rem) !default;
$spacing-50vh: 50vh !default;
$spacing-100vh: 100vh !default;
$spacing-50vw: 50vw !default;
$spacing-100vw: 100vw !default;
