/*
 * A custom CSS.
 */

.logo-bookmark {
    height: var(--mf-spacing-6);
}

.tab-active {
    position: relative;
}

.tab-active:after {
    content: '';
    display: block;
    border-block-end: 5px solid var(--mf-color-red);
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 25%;
    width: 50%;
}

.hero-container {
    grid-template-areas: "heroimage"
                        "herotext";
}

.hero-text {
    grid-area: herotext;
}

.hero-image {
    grid-area: heroimage;
}

@media screen and (min-width: 1200px) {
    .hero-container {
        grid-template-areas: "herotext heroimage"
                            "herotext heroimage";
    }
    .hero-image {
        width: 120%;
    }
    .hero-image img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
    .tab-active:after {
        inset-inline-start: 0;
        width: 100%;
    }
}