/*
 * A custom CSS.
 */

.logo-bookmark {
    height: var(--mf-spacing-6);
}

.tab-active {
    position: relative;
}

.tab-active:after {
    content: '';
    display: block;
    border-block-end: 5px solid var(--mf-color-red);
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 25%;
    width: 50%;
}

.hero-container {
    grid-template-areas:
        'heroimage'
        'herotext';
}

.hero-text {
    grid-area: herotext;
}

.hero-image {
    grid-area: heroimage;
}

/* States */
button.mf-bg-red:hover,
button.mf-bg-red:active,
button.mf-bg-red:focus {
    background-color: transparent;
    border: 2px solid var(--mf-color-red);
    color: var(--mf-color-red);
}

button.mf-bg-blue:hover,
button.mf-bg-blue:active,
button.mf-bg-blue:focus {
    background-color: transparent;
    border: 2px solid var(--mf-color-blue);
    color: var(--mf-color-blue);
}

button.mf-border-transparent:hover,
button.mf-border-transparent:active,
button.mf-border-transparent:focus {
    background-color: transparent;
    border: 2px solid var(--mf-color-gray-500);
    color: var(--mf-color-gray-500);
}

.form-newsletter button:hover,
.form-newsletter button:active,
.form-newsletter button:focus {
    background-color: var(--mf-color-white);
}

@media screen and (min-width: 1200px) {
    .hero-container {
        grid-template-areas:
            'herotext heroimage'
            'herotext heroimage';
    }
    .hero-image {
        width: 120%;
    }
    .hero-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .tab-active:after {
        inset-inline-start: 0;
        width: 100%;
    }
    .container-cards {
        align-items: baseline;
        gap: var(--mf-spacing-5);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 3rem);
        grid-template-areas:
            'card1 .     .    '
            'card1 card2 .    '
            'card1 card2 card3'
            '.     card2 card3'
            '.     .     card3';
        padding-inline: 0;
    }
    .container-cards > div:nth-child(2) {
        grid-area: card1;
    }
    .container-cards > div:nth-child(2) {
        grid-area: card2;
    }
    .container-cards > div:nth-child(3) {
        grid-area: card3;
    }
}
