/*
 * Border radius.
 */

.mf-border-radius-xs {
    border-radius: var(--mf-border-radius-xs);
}

.mf-border-radius-sm {
    border-radius: var(--mf-border-radius-sm);
}

.mf-border-radius-base {
    border-radius: var(--mf-border-radius-base);
}

.mf-border-radius-lg {
    border-radius: var(--mf-border-radius-lg);
}

.mf-border-radius-xl {
    border-radius: var(--mf-border-radius-xl);
}
