/*
 * Shadows.
 */

.mf-shadow-inset-1-100 {
    box-shadow: inset 0px 0px var(--mf-spacing-1) var(--mf-color-gray-200);
}

.mf-shadow-inset-1-200 {
    box-shadow: inset 0px 0px var(--mf-spacing-1) var(--mf-color-gray-200);
}

.mf-shadow-inset-1-300 {
    box-shadow: inset 0px 0px var(--mf-spacing-1) var(--mf-color-gray-300);
}

.mf-shadow-inset-1-400 {
    box-shadow: inset 0px 0px var(--mf-spacing-1) var(--mf-color-gray-400);
}

.mf-shadow-0-100 {
    box-shadow: 0px 2px var(--mf-spacing-1) var(--mf-color-gray-100);
}

.mf-shadow-0-200 {
    box-shadow: 0 2px var(--mf-spacing-6) var(--mf-color-gray-200);
}

.mf-shadow-0-300 {
    box-shadow: 0px 2px var(--mf-spacing-1) var(--mf-color-gray-300);
}

.mf-shadow-0-400 {
    box-shadow: 0px 2px var(--mf-spacing-1) var(--mf-color-gray-400);
}
