/*
 * Spacing.
 */

/*
 * Width.
 * Container.
 * Margin.
 * Padding.
 * Gap.
 * Media queries.
*/

/* Width */
.mf-width-100 {
    width: 100%;
}

.mf-max-width-100vh {
    max-width: 100vh;
}

.mf-max-width-50vh {
    max-width: 50vh;
}

/* Container */
.mf-wrapper {
    max-inline-size: var(--mf-global-content-size);
    margin-inline: auto;
}

/* Margin */
.mf-margin-4 {
    margin: var(--mf-spacing-4);
}
.mf-margin-5 {
    margin: var(--mf-spacing-5);
}
.mf-margin-6 {
    margin: var(--mf-spacing-6);
}
.mf-margin-7 {
    margin: var(--mf-spacing-7);
}
.mf-margin-8 {
    margin: var(--mf-spacing-8);
}
.mf-margin-9 {
    margin: var(--mf-spacing-9);
}
.mf-margin-10 {
    margin: var(--mf-spacing-10);
}
.mf-margin-11 {
    margin: var(--mf-spacing-11);
}
.mf-margin-12 {
    margin: var(--mf-spacing-12);
}
.mf-margin-block-4 {
    margin-block: var(--mf-spacing-4);
}
.mf-margin-block-5 {
    margin-block: var(--mf-spacing-5);
}
.mf-margin-block-6 {
    margin-block: var(--mf-spacing-6);
}
.mf-margin-block-7 {
    margin-block: var(--mf-spacing-7);
}
.mf-margin-block-8 {
    margin-block: var(--mf-spacing-8);
}
.mf-margin-block-9 {
    margin-block: var(--mf-spacing-9);
}
.mf-margin-block-10 {
    margin-block: var(--mf-spacing-10);
}
.mf-margin-block-11 {
    margin-block: var(--mf-spacing-11);
}
.mf-margin-block-12 {
    margin-block: var(--mf-spacing-12);
}
.mf-margin-block-end-7 {
    margin-block-end: var(--mf-spacing-7);
}
.mf-margin-block-end-8 {
    margin-block-end: var(--mf-spacing-8);
}
.mf-margin-block-end-9 {
    margin-block-end: var(--mf-spacing-9);
}
.mf-margin-block-end-10 {
    margin-block-end: var(--mf-spacing-10);
}
.mf-margin-block-end-11 {
    margin-block-end: var(--mf-spacing-11);
}
.mf-margin-block-end-12 {
    margin-block-end: var(--mf-spacing-12);
}
.mf-margin-block-start-7 {
    margin-block-start: var(--mf-spacing-7);
}
.mf-margin-block-start-8 {
    margin-block-start: var(--mf-spacing-8);
}
.mf-margin-block-start-9 {
    margin-block-start: var(--mf-spacing-9);
}
.mf-margin-block-start-10 {
    margin-block-start: var(--mf-spacing-10);
}
.mf-margin-block-start-11 {
    margin-block-start: var(--mf-spacing-11);
}
.mf-margin-block-start-12 {
    margin-block-start: var(--mf-spacing-12);
}
.mf-margin-inline-7 {
    margin-inline: var(--mf-spacing-7);
}
.mf-margin-inline-8 {
    margin-inline: var(--mf-spacing-8);
}
.mf-margin-inline-9 {
    margin-inline: var(--mf-spacing-9);
}
.mf-margin-inline-10 {
    margin-inline: var(--mf-spacing-10);
}
.mf-margin-inline-11 {
    margin-inline: var(--mf-spacing-11);
}
.mf-margin-inline-12 {
    margin-inline: var(--mf-spacing-12);
}
.mf-margin-inline-end-7 {
    margin-inline-end: var(--mf-spacing-7);
}
.mf-margin-inline-end-8 {
    margin-inline-end: var(--mf-spacing-8);
}
.mf-margin-inline-end-9 {
    margin-inline-end: var(--mf-spacing-9);
}
.mf-margin-inline-end-10 {
    margin-inline-end: var(--mf-spacing-10);
}
.mf-margin-inline-end-11 {
    margin-inline-end: var(--mf-spacing-11);
}
.mf-margin-inline-end-12 {
    margin-inline-end: var(--mf-spacing-12);
}
.mf-margin-inline-start-7 {
    margin-inline-start: var(--mf-spacing-7);
}
.mf-margin-inline-start-8 {
    margin-inline-start: var(--mf-spacing-8);
}
.mf-margin-inline-start-9 {
    margin-inline-start: var(--mf-spacing-9);
}
.mf-margin-inline-start-10 {
    margin-inline-start: var(--mf-spacing-10);
}
.mf-margin-inline-start-11 {
    margin-inline-start: var(--mf-spacing-11);
}
.mf-margin-inline-start-12 {
    margin-inline-start: var(--mf-spacing-12);
}

/* Padding */
.mf-padding-2 {
    padding: var(--mf-spacing-2);
}
.mf-padding-3 {
    padding: var(--mf-spacing-3);
}
.mf-padding-4 {
    padding: var(--mf-spacing-4);
}
.mf-padding-5 {
    padding: var(--mf-spacing-5);
}
.mf-padding-6 {
    padding: var(--mf-spacing-6);
}
.mf-padding-7 {
    padding: var(--mf-spacing-7);
}
.mf-padding-7 {
    padding: var(--mf-spacing-7);
}
.mf-padding-8 {
    padding: var(--mf-spacing-8);
}
.mf-padding-9 {
    padding: var(--mf-spacing-9);
}
.mf-padding-10 {
    padding: var(--mf-spacing-10);
}
.mf-padding-11 {
    padding: var(--mf-spacing-11);
}
.mf-padding-12 {
    padding: var(--mf-spacing-12);
}
.mf-padding-13 {
    padding: var(--mf-spacing-13);
}
.mf-padding-14 {
    padding: var(--mf-spacing-14);
}
.mf-padding-15 {
    padding: var(--mf-spacing-15);
}

.mf-padding-block-2 {
    padding-block: var(--mf-spacing-2);
}
.mf-padding-block-3 {
    padding-block: var(--mf-spacing-3);
}
.mf-padding-block-4 {
    padding-block: var(--mf-spacing-4);
}
.mf-padding-block-5 {
    padding-block: var(--mf-spacing-5);
}
.mf-padding-block-6 {
    padding-block: var(--mf-spacing-6);
}
.mf-padding-block-7 {
    padding-block: var(--mf-spacing-7);
}
.mf-padding-block-8 {
    padding-block: var(--mf-spacing-8);
}
.mf-padding-block-9 {
    padding-block: var(--mf-spacing-9);
}
.mf-padding-block-10 {
    padding-block: var(--mf-spacing-10);
}
.mf-padding-block-11 {
    padding-block: var(--mf-spacing-11);
}
.mf-padding-block-12 {
    padding-block: var(--mf-spacing-12);
}
.mf-padding-block-13 {
    padding-block: var(--mf-spacing-13);
}
.mf-padding-block-14 {
    padding-block: var(--mf-spacing-14);
}
.mf-padding-block-15 {
    padding-block: var(--mf-spacing-15);
}

.mf-padding-block-end-2 {
    padding-block-end: var(--mf-spacing-2);
}
.mf-padding-block-end-3 {
    padding-block-end: var(--mf-spacing-3);
}
.mf-padding-block-end-4 {
    padding-block-end: var(--mf-spacing-4);
}
.mf-padding-block-end-5 {
    padding-block-end: var(--mf-spacing-5);
}
.mf-padding-block-end-6 {
    padding-block-end: var(--mf-spacing-6);
}
.mf-padding-block-end-7 {
    padding-block-end: var(--mf-spacing-7);
}
.mf-padding-block-end-8 {
    padding-block-end: var(--mf-spacing-8);
}
.mf-padding-block-end-9 {
    padding-block-end: var(--mf-spacing-9);
}
.mf-padding-block-end-10 {
    padding-block-end: var(--mf-spacing-10);
}
.mf-padding-block-end-11 {
    padding-block-end: var(--mf-spacing-11);
}
.mf-padding-block-end-12 {
    padding-block-end: var(--mf-spacing-12);
}

.mf-padding-block-start-2 {
    padding-block-start: var(--mf-spacing-2);
}
.mf-padding-block-start-3 {
    padding-block-start: var(--mf-spacing-3);
}
.mf-padding-block-start-4 {
    padding-block-start: var(--mf-spacing-4);
}
.mf-padding-block-start-5 {
    padding-block-start: var(--mf-spacing-5);
}
.mf-padding-block-start-6 {
    padding-block-start: var(--mf-spacing-6);
}
.mf-padding-block-start-7 {
    padding-block-start: var(--mf-spacing-7);
}
.mf-padding-block-start-8 {
    padding-block-start: var(--mf-spacing-8);
}
.mf-padding-block-start-9 {
    padding-block-start: var(--mf-spacing-9);
}
.mf-padding-block-start-10 {
    padding-block-start: var(--mf-spacing-10);
}
.mf-padding-block-start-11 {
    padding-block-start: var(--mf-spacing-11);
}
.mf-padding-block-start-12 {
    padding-block-start: var(--mf-spacing-12);
}

.mf-padding-inline-2 {
    padding-inline: var(--mf-spacing-2);
}
.mf-padding-inline-3 {
    padding-inline: var(--mf-spacing-3);
}
.mf-padding-inline-4 {
    padding-inline: var(--mf-spacing-4);
}
.mf-padding-inline-5 {
    padding-inline: var(--mf-spacing-5);
}
.mf-padding-inline-6 {
    padding-inline: var(--mf-spacing-6);
}
.mf-padding-inline-7 {
    padding-inline: var(--mf-spacing-7);
}
.mf-padding-inline-8 {
    padding-inline: var(--mf-spacing-8);
}
.mf-padding-inline-9 {
    padding-inline: var(--mf-spacing-9);
}
.mf-padding-inline-10 {
    padding-inline: var(--mf-spacing-10);
}
.mf-padding-inline-11 {
    padding-inline: var(--mf-spacing-11);
}
.mf-padding-inline-12 {
    padding-inline: var(--mf-spacing-12);
}
.mf-padding-inline-13 {
    padding-inline: var(--mf-spacing-13);
}
.mf-padding-inline-14 {
    padding-inline: var(--mf-spacing-14);
}
.mf-padding-inline-15 {
    padding-inline: var(--mf-spacing-15);
}

.mf-padding-inline-end-2 {
    padding-inline-end: var(--mf-spacing-2);
}
.mf-padding-inline-end-3 {
    padding-inline-end: var(--mf-spacing-3);
}
.mf-padding-inline-end-4 {
    padding-inline-end: var(--mf-spacing-4);
}
.mf-padding-inline-end-5 {
    padding-inline-end: var(--mf-spacing-5);
}
.mf-padding-inline-end-6 {
    padding-inline-end: var(--mf-spacing-6);
}
.mf-padding-inline-end-7 {
    padding-inline-end: var(--mf-spacing-7);
}
.mf-padding-inline-end-8 {
    padding-inline-end: var(--mf-spacing-8);
}
.mf-padding-inline-end-9 {
    padding-inline-end: var(--mf-spacing-9);
}
.mf-padding-inline-end-10 {
    padding-inline-end: var(--mf-spacing-10);
}
.mf-padding-inline-end-11 {
    padding-inline-end: var(--mf-spacing-11);
}
.mf-padding-inline-end-12 {
    padding-inline-end: var(--mf-spacing-12);
}

.mf-padding-inline-start-2 {
    padding-inline-start: var(--mf-spacing-2);
}
.mf-padding-inline-start-3 {
    padding-inline-start: var(--mf-spacing-3);
}
.mf-padding-inline-start-4 {
    padding-inline-start: var(--mf-spacing-4);
}
.mf-padding-inline-start-5 {
    padding-inline-start: var(--mf-spacing-5);
}
.mf-padding-inline-start-6 {
    padding-inline-start: var(--mf-spacing-6);
}
.mf-padding-inline-start-7 {
    padding-inline-start: var(--mf-spacing-7);
}
.mf-padding-inline-start-8 {
    padding-inline-start: var(--mf-spacing-8);
}
.mf-padding-inline-start-9 {
    padding-inline-start: var(--mf-spacing-9);
}
.mf-padding-inline-start-10 {
    padding-inline-start: var(--mf-spacing-10);
}
.mf-padding-inline-start-11 {
    padding-inline-start: var(--mf-spacing-11);
}
.mf-padding-inline-start-12 {
    padding-inline-start: var(--mf-spacing-12);
}

/* Gap */
.mf-gap-4 {
    gap: var(--mf-spacing-4);
}
.mf-gap-5 {
    gap: var(--mf-spacing-5);
}
.mf-gap-6 {
    gap: var(--mf-spacing-6);
}
.mf-gap-7 {
    gap: var(--mf-spacing-7);
}
.mf-gap-8 {
    gap: var(--mf-spacing-8);
}
.mf-gap-9 {
    gap: var(--mf-spacing-9);
}
.mf-gap-10 {
    gap: var(--mf-spacing-10);
}
.mf-gap-11 {
    gap: var(--mf-spacing-11);
}
.mf-gap-12 {
    gap: var(--mf-spacing-12);
}

@media screen and (max-width: 540px) {
    /* Width */
    .mf-sm-width-100 {
        width: 100%;
    }

    /* TODO: revisit this */
    .mf-sm-margin-block-8 {
        margin-block: var(--mf-spacing-8);
    }
    .mf-sm-margin-inline-8 {
        margin-inline: var(--mf-spacing-8)
    }
}

@media screen and (min-width: 1200px) {

    /* Width */
    .mf-lg-max-width-50vh {
        max-width: 50vh;
    }

    .mf-lg-max-width-576 {
        max-width: 576px;
    }

    .mf-lg-max-width-768 {
        max-width: 768px;
    }

    .mf-lg-max-width-992 {
        max-width: 992px;
    }

    /* TODO: revisit this */
    .mf-lg-margin-block-4 {
        margin-block: var(--mf-spacing-4);
    }
    .mf-lg-margin-block-5 {
        margin-block: var(--mf-spacing-5);
    }
    .mf-lg-margin-block-6 {
        margin-block: var(--mf-spacing-6);
    }
    .mf-lg-margin-block-7 {
        margin-block: var(--mf-spacing-7);
    }
    .mf-lg-margin-block-8 {
        margin-block: var(--mf-spacing-8);
    }
    .mf-lg-margin-block-9 {
        margin-block: var(--mf-spacing-9);
    }
    .mf-lg-margin-block-10 {
        margin-block: var(--mf-spacing-10);
    }
    .mf-lg-margin-block-11 {
        margin-block: var(--mf-spacing-11);
    }
    .mf-lg-margin-block-12 {
        margin-block: var(--mf-spacing-12);
    }

    /* Gap */
    .mf-lg-gap-4 {
        gap: var(--mf-spacing-4);
    }
    
    .mf-lg-gap-5 {
        gap: var(--mf-spacing-5);
    }
    
    .mf-lg-gap-6 {
        gap: var(--mf-spacing-6);
    }
    
    .mf-lg-gap-7 {
        gap: var(--mf-spacing-7);
    }

    .mf-lg-hide {
        display: none !important;
    }
    .mf-lg-show {
        display: initial !important;
    }
}
